:root {
    /* HEX color mode */
    --primary-color: #69b99d;
    --second-color: #cdf4e6;
    --text-color: #757575;
    --title-color: #0f241d;
    --body-color: #fafafa;

    /* fonts */
    --title-font-size: 1.875rem;
    --subtitle-font-size: 1rem;

    --title-font: 'Poppins', sans-serif;
    --body-font: 'DM Sans', sans-serif;
}

/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font: 400 1rem var(--body-font);
    color: var(--text-color);
    background: var(--body-color);
}
  
h1,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.menu-item {
    font: 700 var(--title-font-size) var(--title-font);
    color: var(--title-color);
}

/* CSS COMPONENTS */
.container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
  
.grid {
    display: grid;
    gap: 2rem;
}

.title {
  font: 700 var(--title-font-size) var(--title-font);
  color: var(--title-color);
}

  
/* NAV */
#header {
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 2rem;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--body-color);
    width: 100%;
}

.logo {
    font: 700 1.6rem var(--title-font);
    color: var(--title-color);
}
  
.logo span {
    color: var(--primary-color);
}

nav {
  height: 4.5rem; /* 72px / 16 = 4.5rem */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.menu-toggle {
  display: none;
}

nav ul {
  display: flex;
  gap: 2rem;
}

nav ul li a.menu-item {
  font: 400 1rem var(--body-font);
}


nav ul li {
    text-align: center;
}

nav ul li a:hover{
    font-weight: bold;
    padding-bottom: 1.6rem;
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

/* SERVICES  */

section {
  min-height: 100vh;
  padding: calc(5rem + 4.5rem) 0;
  align-items: center;
}

.services-header {
  justify-self: center;
  max-width: 32.68rem;
  text-align: center;
  margin-bottom: 4rem;
}

.services-header .title {
  font-size: 2.25rem;
  margin-bottom: 0.75rem;
}

.subtitle {
  color: var(--title-color);
  font-size: 1.12rem;
}

.subtitle strong {
  color: var(--primary-color);
}

.card-container {
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  padding: 3.625rem 3rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-bottom: 0.25rem solid var(--primary-color);
  border-radius: 0.25rem 0.25rem 0 0;
  text-align: center;
  align-items: center;
}

.card img {
  margin-bottom: 1.5rem;
  font-size: 5rem;
  color: var(--base-color);
}

.title-card {
  font: 700 var(--title-font-size) var(--title-font);
  color: var(--title-color);
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}


/* FOOTER */

footer {
  background: var(--primary-color);
  padding: 3.75rem 0;
}

footer .container {
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
}

footer .logo {
  font-size: 2.25rem;
  display: inline-block;
  margin-bottom: 1.5rem;
}

footer .logo span {
  color: var(--body-color);
}

.brand p {
  color: var(--body-color);
  margin-bottom: 0.75rem;
}
.social {
  grid-auto-flow: column;
  width: fit-content;
}

.social img {
  width: 1.8rem;
}


.social a {
  transition: 0.3s;
  display: inline-block;
}

.social a:hover {
  transform: translateY(-8px);
}

nav .menu-nav ul {
  display: flex;
  justify-content: space-around;
}
  
/* MEDIAS QUERIES */

@media (min-width: 1200px) {
    .container {
      max-width: 1120px;
      margin-left: auto;
      margin-right: auto;
    }

    
    nav .menu-nav {
      opacity: 1;
      visibility: visible;
      top: 0;
    }

    nav .menu-nav ul {
      display: flex;
      gap: 2rem;
    }
}

/*Tablet*/
@Media (max-width: 1199px){
  html {
      font-size: 85%;
  }

  .container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  .menu-nav{
    display: none;
  }

  .menu-toggle {
    display: block;
    z-index: 100;
    justify-content: space-evenly; 
  }


  .menu-nav.active {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    background-color: var(--primary-color);

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-nav.active li a{
    font-weight: bold;
    color: var(--body-color);
  }


  .menu-nav.active {
    display: block;
  }

  .menu-nav.active ul {
    display: block;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .menu-nav.active ul li{
    padding: 1.5rem;
  }
  .menu-nav.active ul li a:hover {
    border-bottom: 2px solid var(--body-color);
  }

  .card-container {
    grid-template-columns: 1fr;;
  }
  
}

@media (max-width: 780px){

  .container {
    max-width: 327px;
    max-width: 372;
    margin-left: auto;
    margin-right: auto;
  }
  .card-container {
    grid-template-columns: 1fr;
  }

  footer .container {
    grid-auto-flow: row;
    align-items: center;
    justify-content: space-between;
  }

}

